{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container">
    <form action="" method="POST">
        {{ form | crispy }}
        {% csrf_token %}
        <label for="categoryInput">Expense Categories (hit enter after every category)</label>
        <input type="text" id="categoryInput" name="categoryInput">
        <input type="hidden" name="categoriesString">
    
    <ul id="categoriesContainer">
        
    </ul>
    <button type="submit" class="btn">Start Project</button>
    </form>
</div>


<script src="{% static 'js/script.js' %}"></script>

{% endblock %}