body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  
  button:hover {
    background-color: #0056b3;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
  }

  .nav-wrapper {
    background-color: #333;
  }
  
  .footer a {
    color: #007bff;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #0056b3;
  }
  

  
    button {
      width: 100%;
      padding: 15px;
      font-size: 18px;
    }
  
    .footer {
      padding: 10px 0;
    }

/* project list (no projects) */

.noproject-wrapper {
    margin-top: 50px;
    padding: 80px 0px;
    border: 6px solid;
    border-style: dashed;
}

.noproject-wrapper h3 {
    padding: 10px;
    margin-bottom: 50px;
}

/* project add view css code */
form ul li.category {
    display: inline-block;
    background-color: black;

    padding: 5px 10px;
    margin-right: 5px;
}



/* project detail statistics  */
.section-stats .card-panel {
    margin: 8px;
}

.section-stats h1 {
    font-size: 4vw;
    margin: 15px 0px;
}

@media(max-width: 992px){
    .section-stats h1 {
        font-size: calc(16px + 6vw);
    }

    .noproject-wrapper {
        margin-top: 20px;
        padding: 50px 0px;
        border: 6px solid;
        border-style: dashed;
    }
}

@media (max-width: 768px) {
    .container {
      padding: 10px;
    }

}
/* project detail expenses */
.section-expenses button {
    padding: 0px 40px;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, .25);
    background-color: #6fcf97;
}

.section-expenses .expense {
    font-size:16px;
    border-radius: 0;
    margin: 0;
}

.section-expenses .expense .category {
    font-size: 13px;
}

.section-expenses li:nth-child(even) .expense {
    background-color: #f2f2f2;
}

.section-expenses .close-icon:hover {
    cursor: pointer;
}

.page-footer {
    overflow: auto;
    background-color: #333;
}

